.btn.button-register {
    color: #2DCA06;
    
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.btn.button-register:hover {
    background-color: #28A805;
}

.btn.button-login {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.btn.button-login:hover {
    background-color: #251FDE;
}

.btn.button-logout {
    background-color: #069A06;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}